<html xmlns:th="http://www.w3.org/1999/xhtml">
<body>
<div th:replace="fragments/header.html"></div>
<h1>Edit task</h1>

<form method="POST" th:action="@{/task/edit/${task.id}}" th:object="${task}">

    <input th:field="*{id}" type="hidden"/>

    <p>
    <div>Name:</div>
    <div>
        <input th:field="*{name}" type="text"/>
    </div>
    </p>

    <p>
    <div>Description:</div>
    <div>
        <input th:field="*{description}" type="text"/>
    </div>
    </p>

    <p>
    <div>Project:</div>
    <div>
        <select th:field="*{projectId}">
            <option th:value="${null}">==\\==</option>
            <option th:each="project: ${projects}" th:text="${project.name}" th:value="${project.id}"/>
        </select>
    </div>
    </p>

    <p>
    <div>Status:</div>
    <div>
        <select th:field="*{status}">
            <option th:each="status: ${T(ru.tsc.panteleev.tm.enumerated.Status).values()}" th:text="${status}"
                    th:value="${status}"/>
        </select>
    </div>
    </p>

    <p>
    <div>Date begin:</div>
    <div>
        <input th:field="*{dateBegin}" type="date"/>
    </div>
    </p>

    <p>
    <div>Date end:</div>
    <div>
        <input th:field="*{dateEnd}" type="date"/>
    </div>
    </p>

    <button type="submit">Save task</button>
</form>

<div th:replace="fragments/footer.html"></div>
</body>
</html>