<style>
    h1 {
        font-size: 1.8em;
    }
    a {
        color: blue;
    }
    select {
        width: 200px;
    }
    input[type="text"] {
        width: 200px;
    }
    input[type="date"] {
        width: 200px;
    }
    td {
        padding: 10px;
        border: solid 1px;
    }
</style>

<table height="100%" style="border-collapse: collapse;" width="100%">
    <tr>
        <td align="center" height="35" nowrap="nowrap" width="200">
            <a href="/"><b>Task Manager</b></a>
        </td>
        <td align="right" nowrap="nowrap" width="400">
            <span sec:authorize="isAuthenticated()">
                <a href="/projects">Projects</a>
                |
                <a href="/tasks">Tasks</a>
                |
                User: <span sec:authentication="name"/>
                |
                <a href="/logout">Logout</a>
            </span>
            <span sec:authorize="!isAuthenticated()">
                <a href="/login">Login</a>
            </span>
        </td>
    </tr>
    <tr>
        <td colspan="2" height="100%" vailgn="top">